* {
    margin: 0;
    padding: 0;
}
.header{
    position: relative;
    background-color: rgba(26, 125, 17, 0.67);
    height: 100px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;

}
.logo{
    padding: 20px;
    font-family: "Gill Sans Ultra Bold", fantasy;
    font-size: 50px;
}
.owner{
    margin-top: 20px;
    margin-right: 30px;
    position: absolute;
    right: 0;
    font-family: Calibri, serif;
    font-size: 20px;
}
.cube{
    height: 50px;
    width: 50px;
    padding: 25px 0 0 0;

}
.bg{
    background: url("https://foni.club/uploads/posts/2023-02/1675327250_foni-club-p-fon-karti-rossii-s-gorodami-9.jpg");
    background-size: cover;
    position: center;
    height: 100vh;

}
.mainPage{
    margin-top: 20vh;
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.orderForm, .infoBlock{
    margin-top: 5px;
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.infoBlock{
    margin-left: 30vw;
}

.order, .check, .askQuestion {
    position: relative;
    padding-top: 20vh;
    padding-left: 3vw;
    width: 33%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mainEl {
    position: absolute;
    bottom: 0;
    width: 55vh;
}
.mainEl.number{
    bottom: 70px;
    font-size: 25px;
    height: 5vh;
}

button {
    font-family: Calibri, serif;
    border-radius: 25px;
    margin: 0;
    border: 0;
    padding: 10px;
    background-color: rgba(15,129,15,0.87);
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

input {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #AEAEAE;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    width: 70vh;
    height: 10vh;
    text-align: center;

    font-size: 5vh;
    font-family: Calibri, serif;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: #2C2C2C;

}


.wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}
select {
    cursor: pointer;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #AEAEAE;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    height: 10vh;

    text-align: center;
    font-family: Calibri, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5vh;
    line-height: 17px;
    color: #8E8E8E;
}
.formBtn{
    height: 10vh;
    width: 70vh;
    font-size: 5vh;
}
.infoBlock{
    display: flex;
    flex-direction: column;
}

.info{
    width: 70vh;
    height: 60vh;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #AEAEAE;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;

    font-size: 25px;
    font-family: Calibri, serif;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    color: #2C2C2C;
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.modal.active {
    transform: scale(1);
}
.modalContent{
    width: 30vw;
    padding: 20px;
    border-radius: 12px;
    background-color: white;

    font-size: 4vh;
    font-family: Calibri, serif;
    font-style: normal;
    font-weight: 400;
    line-height: 6vh;
    color: #2C2C2C;
}